/* PRODUCT PAGE */
.product {
	padding-block: 2.5rem;
}
@media screen and (min-width: 1024px) {
	.product {
		padding-block: 3.75rem;
	}
}

.product__hero {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	padding-block-end: 2.5rem;
}
@media screen and (min-width: 1024px) {
	.product__hero {
		flex-wrap: nowrap;
		padding-block-end: 3.75rem;
	}
}

.product__media {
	aspect-ratio: 16 / 9;
	flex: 0 1 24rem;
	max-height: 13.5rem;
	overflow: hidden;
}

.product__img {
	display: block;
	height: 100%;
	width: 100%;
}

.product__info {
	display: flex;
	flex-basis: 48rem;
	flex-direction: column;
	gap: 2.5rem;
}

.product__content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
}

.product__name,
.product__price,
.product__short-description p {
	margin: 0;
}

.product__name {
	font-size: 2.25rem;
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-sm);
}
@media screen and (min-width: 1024px) {
	.product__name {
		font-size: 3rem;
	}
}

.product__price {
	color: var(--color-brand-purple);
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-md);
}

.product__short-description p {
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-md);
}

.product__buy {
	display: flex;
	flex-direction: column;
	gap: 1.875rem;
}

.product__quantity {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
}

.product__quantity-input {
	align-items: center;
	border: 1px solid var(--color-body-txt);
	display: inline-flex;
	gap: 0.125rem;
	max-width: fit-content;
}

.product__quantity-label {
	font-size: 0.875rem;
	max-width: fit-content;
}

.product__count::-webkit-outer-spin-button,
.product__count::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.product__count {
	border: none;
	padding: 12px;
	text-align: center;
	width: 3rem;

	-moz-appearance: textfield;
	appearance: none;
}

.btn--increase,
.btn--decrease,
.btn--increase:hover,
.btn--increase:focus,
.btn--decrease:hover,
.btn--decrease:focus {
	background-color: #ffffff;
	border: none;
	color: var(--color-body-txt);
	padding: 0.75rem 1.25rem;
}

.product__buy-buttons {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.btn--add-to-cart,
.btn--buy-now {
	font-family: inherit;
	font-weight: 700;
	max-width: 100%;
}
@media screen and (min-width: 768px) {
	.btn--add-to-cart,
	.btn--buy-now {
		max-width: 50%;
	}
}

.product__description-wrapper {
	background-color: var(--color-bg-light);
	padding-block: 2.5rem;
	position: relative;
}
@media screen and (min-width: 1024px) {
	.product__description-wrapper {
		padding-block: 3.75rem;
	}
}

.product__description-wrapper::before,
.product__description-wrapper::after {
	background-color: var(--color-bg-light);
	bottom: 0;
	content: '';
	position: absolute;
	top: 0;
	width: 100vw;
}

.product__description-wrapper::before {
	left: 0;
}

.product__description-wrapper::after {
	right: 0;
}

.product__description-title,
.product__description {
	position: relative;
	z-index: 1;
}

.product__description p {
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-md);
	margin: 0;
}

.product__recommended-wrapper {
	padding-block: 2.5rem;
}
@media screen and (min-width: 1024px) {
	.product__recommended-wrapper {
		padding-block: 3.75rem;
	}
}

.store__products {
	display: grid;
	gap: 1.875rem 1.25rem;
	grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.store__product {
	display: flex;
	flex-direction: column;
	max-width: 386.67px;
}

.store__product-img-wrapper {
	aspect-ratio: 16 / 9;
	display: block;
	overflow: hidden;
	width: 100%;
}

.store__product-img {
	display: block;
	height: 100%;
	transition: all 0.2s ease;
	width: 100%;
}

.store__product:hover .store__product-img {
	transform: scale(1.2);
}

.store__product-content {
	display: flex;
	flex-direction: column;
	padding-block-start: 1.125rem;
	margin-block-end: 1.125rem;
}

.store__product-title,
.store__product-price {
	margin-block-end: 0.375rem;
}

.store__product-title {
	font-size: 1.5rem;
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-sm);
}

.store__product-price {
	color: var(--color-brand-purple);
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-md);
}

.store__product-link,
.store__product-link:hover,
.store__product-link:focus {
	color: var(--color-body-txt);
}

.store__product-desc {
	overflow: hidden;
}

.store__product-desc p {
	letter-spacing: var(--letter-spacing-md);
	line-height: var(--line-height-md);
	margin: 0;
}

.store__product-cta {
	margin-block-start: auto;
}