/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/

/*****************************************/
/* Start your style declarations here    */
/*****************************************/
:root {
	--color-body-txt: #222224;
	--color-btn-accent: #049B91;
	--color-btn-outline: #222224;
	--color-btn-outline-secondary: #73305C;
	--color-btn-outline-secondary-active: #5c2749;
	--color-brand-purple: #73305C;
	--color-brand-red: #8E1915;
}


.content-wrapper {
	padding-inline: 1rem;
}
@media screen and (min-width: 1200px) {
	.content-wrapper {
		margin-inline: auto;
		max-width: 75rem;
		padding-inline: 0;
	}
}

.btn--store {
	display: inline-block;
	border-radius: 0.75rem;
	font-weight: 700;
}

.btn--small {
	font-size: 1.125rem;
	line-height: 1.25;
	padding: 0.75rem 1.5625rem;
}

.btn--outline {
	color: var(--color-btn-outline);
	outline: 1px solid var(--color-btn-outline);
}

.btn--outline-secondary {
	color: var(--color-btn-outline-secondary);
	outline: 2px solid var(--color-btn-outline-secondary);
}

.btn--outline-secondary:hover,
.btn--outline-secondary:focus {
	background-color: var(--color-btn-outline-secondary);
	color: #ffffff;
}

.btn--outline-secondary:active {
	background-color: var(--color-btn-outline-secondary-active);
}