<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title %}<title>{{ page_meta.html_title }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    
    {{ require_css(get_asset_url("../../css/main.css")) }}
    
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
  
    {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}

    {{ require_js(get_asset_url("../../child.js")) }}
{{ standard_header_includes }}
{{ require_css(get_public_template_url("../../child.css")) }}
    
  </head>
  <body>
    
    <div class="growfast-theme body-wrapper {{ builtin_body_classes }}{% if theme.footer.fixed_footer == true %} growfast-theme-fixed-footer--{{ theme.footer.fixed_footer }}{% endif %}">
      
      {% block header %}
        {% global_partial path='../partials/header.html' %}
      {% endblock header %}

      {% block body %}
      {% endblock body %}

      {% block footer %}
        {% global_partial path='../partials/footer.html' %}
      {% endblock footer %}
      
      {% if theme.scroll_to_top.enable == true %}
      
        <div class="growfast-scrolltop">
          <div class="growfast-scrolltop-svg-wrap">
            <svg width="18" height="18" version="1.1" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M240.971,130.524l194.343,194.343c9.373,9.373 9.373,24.569 0,33.941l-22.667,22.667c-9.357,9.357 -24.522,9.375 -33.901,0.04l-154.746,-154.02l-154.745,154.021c-9.379,9.335 -24.544,9.317 -33.901,-0.04l-22.667,-22.667c-9.373,-9.373 -9.373,-24.569 0,-33.941l194.343,-194.343c9.372,-9.373 24.568,-9.373 33.941,-0.001Z" transform="scale(0.0351562)" fill="#000"></path></svg>
          </div>
        </div>
        
      {% endif %}
    
    </div>
    
    {% if not site_settings.include_jquery %}
    
      {{ require_js(get_asset_url('../../js/jquery-1.7.1.js')) }}
      
    {% endif %}
    
    {{ require_js(get_asset_url('../../js/main.js')) }}
    {{ require_js(get_asset_url('../../js/TweenMax.min.js')) }}
    {{ require_js(get_asset_url('../../js/ScrollMagic.min.js')) }}
    {{ require_js(get_asset_url('../../js/animation.gsap.min.js')) }}
    {{ require_js(get_asset_url('../../js/ScrollToPlugin.min.js')) }}
    
    {{ standard_footer_includes }}
  
  </body>
</html>
