.store__products {
	display: grid;
	gap: 1.875rem 1.25rem;
	grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
}

.store__product {
	display: flex;
	flex-direction: column;
}

.store__product--hidden {
	display: none;
}

.store__product-img-wrapper {
	aspect-ratio: 16 / 9;
	display: block;
	width: 100%;
}

.store__product-img {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.store__product-content {
	display: flex;
	flex-direction: column;
	padding-block-start: 1.125rem;
	margin-block-end: 1.125rem;
}

.store__product-title,
.store__product-price {
	margin-block-end: 0.375rem;
}

.store__product-title {
	font-size: 1.5rem;
}

.store__product-price {
	color: var(--color-brand-purple);
	font-size: 1.125rem;
	font-weight: 700;
}

.store__product-link,
.store__product-link:hover,
.store__product-link:focus {
	color: var(--color-body-txt);
}

.store__product-desc {
	display: -webkit-box;
	flex-grow: 1;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.store__product-desc p {
	margin: 0;
}

.store__product-cta {
	margin-block-start: auto;
}

.btn__view-more-wrapper {
	display: flex;
	justify-content: center;
	margin-block-start: 1.875rem;
}

.btn__view-more-wrapper--hidden {
	display: none;
}

.btn__view-more {
	background-color: transparent;
	border: none;
	color: var(--color-brand-red);
	font-weight: 700;
	line-height: 1.25;
}

.btn__view-more:hover,
.btn__view-more:focus {
	background-color: transparent;
	border: none;
	color: var(--color-brand-red);
	font-weight: 700;
	line-height: 1.25;
	text-decoration: underline;
	text-underline-offset: 0.5rem;
}

.store__pagination {
	margin-block-start: 3.125rem;
}

.store__pagination--hidden {
	display: none;
}

.pagination {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 0.375rem;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination__previous,
.pagination__number,
.pagination__next {
	align-items: center;
	display: inline-flex;
	color: var(--color-body-txt);
	height: 2.75rem;
	justify-content: center;
	width: 2.75rem;
}

.pagination__number {
	position: relative;
}

.pagination__number:hover,
.pagination__number:focus {
	color: var(--color-brand-purple);
}

.store__pagination .pagination .active .pagination__number {
	color: var(--color-brand-purple);
	cursor: not-allowed;
	pointer-events: none;
	font-weight: 700;
}

.store__pagination .pagination .active .pagination__number:after {
    background-color: currentColor;
    bottom: 8px;
	content: "";
    display: block;
	height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 1.25rem;
}

.pagination__previous svg,
.pagination__next svg {
	height: 0.75rem;
	width: 0.75rem;
}

.pagination__previous:hover svg,
.pagination__previous:focus svg,
.pagination__next:hover svg,
.pagination__next:focus svg {
	fill: var(--color-brand-purple);
}